    :root {
    --main-color-red-bg-izipay: #ff4240;
    --main-color-green-bg-izipay: #2ad2c9;
    }

    .body {
        background: var(--main-color-red-bg-izipay);
        margin: 0
    }

    .body-izi{
        background: var(--main-color-red-bg-izipay);
        margin: 0
    }

    .form {
        width: 340px;
        height: 440px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        margin: calc(50vh - 220px) auto;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: relative
    }

    .form-izi{
        width: 340px;
        height: 440px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        margin: calc(50vh - 220px) auto;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: relative
    }

    .h2 {
        margin: 10px 0;
        padding-bottom: 10px;
        width: 280px;
        color: var(--main-color-green-bg-izipay);
        border-bottom: 3px solid var(--main-color-green-bg-izipay)
    }

    .txt_data {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;
        border-bottom: 2px solid var(--main-color-green-bg-izipay)
    }

    .txt_data:focus {
        border-bottom: 2px solid var(--main-color-green-bg-izipay)
    }

    p:before {
        content: attr(type);
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        color: var(--main-color-green-bg-izipay)
    }

    .btn_pagar {
        float: right;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid var(--main-color-green-bg-izipay);
        background: var(--main-color-green-bg-izipay);
        color: #fff;
        cursor: pointer;
        transition: all .3s
    }

    .btn_pagar:hover {
        background: #00a09d;
        border: 2px solid #00a09d;
        color: #fff
    }

    .footer_data {
        content: 'Hi';
        position: absolute;
        bottom: -15px;
        right: -20px;
        background: var(--main-color-green-bg-izipay);
        color: #fff;
        width: 320px;
        padding: 16px 4px 16px 0;
        border-radius: 6px;
        font-size: 13px;
        font-weight: bold;
        box-shadow: 10px 10px 40px -14px #000
    }

    .kr-payment-button
    {
        padding: 8px 12px !important;
        margin: 8px 0 0 !important;
        font-family: 'Montserrat', sans-serif !important;
        border: 2px solid var(--main-color-green-bg-izipay) !important;
        background: var(--main-color-green-bg-izipay) !important;
        color: #fff !important;
        cursor: pointer !important;
        transition: all .3s !important;
    }

    .kr-payment-button:hover {
        background: #00a09d !important;
        border: 2px solid #00a09d !important;
        color: #fff !important;
    }

    .kr-pan{
        width: 100% !important;
        padding-bottom: 20px !important;
        box-sizing: border-box !important;
        background: none !important;
        outline: none !important;
        resize: none !important;
        border: 0 !important;
        font-family: 'Montserrat', sans-serif !important;
        transition: all .3s !important;
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-pan{
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-expiry{
        width: 100% !important;
        padding-bottom: 20px !important;
        box-sizing: border-box !important;
        background: none !important;
        outline: none !important;
        resize: none !important;
        border: 0 !important;
        font-family: 'Montserrat', sans-serif !important;
        transition: all .3s !important;
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-expiry{
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-security-code{
        width: 100% !important;
        padding-bottom: 20px !important;
        box-sizing: border-box !important;
        background: none !important;
        outline: none !important;
        resize: none !important;
        border: 0 !important;
        font-family: 'Montserrat', sans-serif !important;
        transition: all .3s !important;
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-security-code{
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-installment-number{
        width: 100% !important;
        padding-bottom: 20px !important;
        box-sizing: border-box !important;
        background: none !important;
        outline: none !important;
        resize: none !important;
        border: 0 !important;
        font-family: 'Montserrat', sans-serif !important;
        transition: all .3s !important;
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-installment-number{
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-first-installment-delay{
        width: 100% !important;
        padding-bottom: 20px !important;
        box-sizing: border-box !important;
        background: none !important;
        outline: none !important;
        resize: none !important;
        border: 0 !important;
        font-family: 'Montserrat', sans-serif !important;
        transition: all .3s !important;
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .kr-first-installment-delay{
        border-bottom: 2px solid var(--main-color-green-bg-izipay) !important;
    }

    .logo-png{
        width: 100%;
        height: auto;
    }

    .kr-selected-option{
        color: var(--main-color-green-bg-izipay) !important;
    }

    span {
        margin: 0 5px 0 15px
    }